:root {
    font-family: "Roboto", "Tahoma", Arial, sans-serif;
    font-size: 120%;
    line-height: 1.6;
    color: #333;
    text-align: center;

    --brand: #00786c;
    --brand-dark: #006c66;
}

body {
    margin: 0;
}

img {
    max-inline-size: 100%;
    block-size: auto;
}

a {
    color: var(--brand);
}
a:hover {
    color: var(--brand-dark);
}

h1, h2, h3, h4, h5, h6, .subtitle {
    font-family: "Merriweather", serif;
    color: var(--brand-dark);
    line-height: 1.2;
}
h1 {
    margin: 0;
    font-size: 250%;
}
.subtitle {
    font-family: "Roboto", "Tahoma", Arial, sans-serif;
    font-size: 120%;
}
h2 {
    font-family: "Roboto", "Tahoma", Arial, sans-serif;
    font-size: 100%;
    text-transform: uppercase;
    margin-block-end: 3em;
}
summary {
    font-weight: bold;
}

blockquote {
    font-size: 150%;
}
blockquote footer {
    font-size: 1rem;
    margin-block-start: -1em;
}

p, figure, details {
    margin: 0;
    margin-block-end: 1em;
}

figure img {
    display: block;
}

.container {
    max-inline-size: 50em;
    margin-inline: auto;
    padding-inline: 0.5em;
}

.block {
    padding-block: 2em;
}
header.block {
    padding-block: 4em;
}

.bg-green {
    background-color: var(--brand);
    color: #fff;
}
.bg-darkgreen {
    background-color: var(--brand-dark);
    color: #fff;
}
.bg-green a,
.bg-darkgreen a {
    color: inherit;
    text-decoration: none;
}
.bg-green h2,
.bg-darkgreen h2 {
    color: inherit;
}
.bg-grey {
    background: #eee;
}

.text-start {
    text-align: start;
}
.text-small {
    font-size: 90%;
}

.tiles-features {
    display: grid;
    gap: 1rem 3rem;
    grid-template-columns: repeat(1, 1fr);
}

.tiles-links,
.tiles-logos {
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 3em;
}
.tiles-links a,
.tiles-logos a {
    display: block;
}
.tiles-links img,
.tiles-logos img {
    display: block;
    block-size: 4em;
    margin-inline: auto;
}

.tiles-links {
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: repeat(auto-fit, 8em);
    text-align: center;
}
.tiles-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width: 36em) {
    .tiles-features {
        grid-template-columns: repeat(2, 1fr);
    }
}
